<nav class="navbar  navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
<div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" title="Home"
                   href="{{ url_for('pages.home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" title="Cursos"
                   href="{{ url_for('courses.courses') }}">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" title="Grupos de alumnos"
                   href="{{ url_for('groups.groups') }}">Grupos de alumnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" title="Calificaciones"
                   href="{{ url_for('events.events') }}">Calificaciones</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Acciones
                </a>
                <ul class="dropdown-menu">
                    <li title="Importar grupo" data-toggle="tooltip">
                        <a class="dropdown-item" href="{{ url_for('groups.create_group') }}">Importar grupo</a>
                    </li>
                    <li title="Crear curso" data-toggle="tooltip">
                        <a class="dropdown-item" href="{{ url_for('courses.create_course') }}">Crear Curso</a>
                    </li>
                    <li title="Añadir calificación" data-toggle="tooltip">
                        <a class="dropdown-item" href="{{ url_for('courses.create_course') }}">Añadir calificación</a>
                    </li>
                    <li title="Editar grupo" data-toggle="tooltip">
                        <a class="dropdown-item" href="{{ url_for('groups.create_group') }}">Editar grupo</a>
                    </li>
                    <li title="Editar curso" data-toggle="tooltip">
                        <a class="dropdown-item" href="{{ url_for('courses.create_course') }}">Editar Curso</a>
                    </li>
                    <li title="Añadir alumno" data-toggle="tooltip">
                        <a class="dropdown-item" href="{{ url_for('courses.create_course') }}">Añadir alumno</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</nav>
