{% extends 'courses/base_courses.html' %}

{% block title %}
{{ course['name'] }}
{% endblock title %}

{% block header %}
<h3>Curso: {{ course['name'] }}</h3>
{% endblock header %}

{% block content %}

<ul class="nav nav-tabs" role="tablist">
    {% for tab in tabs %}
    {% set tab_id = tab['id'] %}
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-{{tab['id']}}" data-bs-toggle="tab" href="#tabpanel-{{tab['id']}}" role="tab"
           aria-controls="tabpanel-{{tab['id']}}" aria-selected="true"> {{tab['name']}}</a>
    </li>
    {% endfor %}
</ul>
<div class="tab-content pt-5" id="tab-content">
    {% for tab in tabs %}
    <div class="tab-pane" id="tabpanel-{{tab['id']}}" role="tabpanel" aria-labelledby="tab-{{tab['id']}}">
        <p> {{tab['name']}} :
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Nueva columna
            </button>
        </p>
        <!-- POP UP -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                            {{course['name']}}, {{tab['name']}}
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form  enctype="multipart/form-data" id="new_column" >
                            <input type = "hidden" name = "tab_id" value = "{{tab['id']}}" />
                            <input type = "hidden" name = "course_id" value = "{{course['id']}}" />
                            <div class="mb-3">
                                <label class="form-label">Tipo de evento</label>
                                <select class="form-select" id="level" name="event_type">
                                    {% for type in events_type %}
                                    <option value="{{type['name']}}">{{type['name']}}</option>
                                    {% endfor %}
                                </select>
                                <div id="selectHelp" class="form-text">Selecciona uno
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="event_name" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="event_name" name="name"
                                       aria-describedby="nameHelp">
                                <div id="nameHelp" class="form-text">Preferiblemente nombres cortos.
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!--<input type="submit" value="Añade grupo" class="submit-btn"> -->
                                <button type="submit" class="btn btn-primary" name="submit_button" value="add_column">
                                    Nueva columna
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <table class="table table-striped w-auto dt-no-wrap" align="left" id="course_table_{{tab['id']}}">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Grupo</th>
                {% for column in columns %}
                {% if column['tab_id'] == tab['id'] %}
                <th>{{column['name']}}</th>
                {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for index, event in events[tab['id']].iterrows() %}
            <tr id="{{event['st_id']}}" class="single-line">
                <td> {{event['st_name']}}</td>
                <td> {{event['surname']}}</td>
                <td> {{event['g_name']}}</td>
                {% for column in columns %}
                {% if column['tab_id'] == tab['id'] %}
                 {% set col_name = column['name'] %}
                 {% set ev_id = event[('event_id',col_name)] %}
                 {% set val= event[('value_int',col_name)] %}
                <td contenteditable="true" id="cc" data-course_id="{{course['id']}}"
                    data-tab_id="{{tab['id']}}" data-column_id="{{column['id']}}"
                    data-event_id="{{ev_id}}" class="single-line">{{val}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>

<script>
   {% for tab in tabs %}
   table_{{tab['id']}} = new DataTable('#course_table_{{tab['id']}}');
   {% endfor %}
</script>

 <!-- APP Actions -->
<script src="/static/edittables.js"></script>
{% endblock content %}

