{% extends 'courses/base_courses.html' %}
{% block header %}
<h1>Curso: {{ course['name'] }}</h1>
{% endblock header %}

{% block content %}

{% set c_id = course['id'] %}
<ul class="nav nav-tabs" role="tablist">
    {% for tab in tabs %}
    {% set tab_id = tab['id'] %}
       <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab-{{tab['id']}}" data-bs-toggle="tab" href="#tabpanel-{{tab['id']}}" role="tab"
           aria-controls="tabpanel-{{tab['id']}}" aria-selected="true"> {{tab['name']}}</a>
       </li>
    {% endfor %}
</ul>
<div class="tab-content pt-5" id="tab-content">
    {% for tab in tabs %}
    <div class="tab-pane" id="tabpanel-{{tab['id']}}" role="tabpanel" aria-labelledby="tab-{{tab['id']}}">Tab {{tab['name']}} selected

<table class="table table-striped w-auto" align="left" id="course_table" >
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Grupo</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
    <tr>
        <td> {{student['st_name']}}</td>
        <td> {{student['surname']}}</td>
        <td> {{student['g_name']}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
 </div>
    {% endfor %}
</div>

<script>
   new DataTable('#course_table');
</script>
{% endblock content %}

