{% extends 'base.html' %}

{% block header %}


<h2>{% block title %}Crear Curso{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<form method="post">
    <div class="form-group">
        <label for="name">Nombre del Curso</label>
        <input type="text" name="name" id="name" value="{{request.form['name']}}"
               class="form-control">
    </div>
    <div class="form-inline">
        <label>Curso académico: </label>
        <input type="text" id="datepicker" name="year1"/>
        <input type="text" id="datepicker2" name="year2"/>
    </div>
    <div class="form-group">
        <label> Elija uno o varios grupos:</label>
        <select id="mySelect" name="group_ids" multiple>
            {% for group in groupList %}
            <option value={{group.id}}>{{group.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Añade curso" class="submit-btn">
    </div>
</form>

<script>$("#datepicker").datepicker({
    format: "yyyy",
    viewMode: "years",
    minViewMode: "years"
});
$("#datepicker2").datepicker({
    format: "yyyy",
    viewMode: "years",
    minViewMode: "years"
});
</script>


{% endblock content %}
