<!DOCTYPE html>
<html lang="es">

<head>
  <title>Grupos - {% block title %}{% endblock title %}</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
 <header>
    {% block header %}{% endblock header %}
  </header>
  <main>
{% block content %} {% endblock content %}
  </main>
</body>
