{% extends 'groups/base_groups.html' %}
{% block header %}
<h1>Grupo: {{ name }}</h1>
{% endblock header %}

{% block content %}
<nav class="navbar navbar-inverse">
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active"><a data-toggle="tooltip" title="Home"
                                  href="{{ url_for('pages.home') }}">Home</a>
            </li>
            <li class="active"><a data-toggle="tooltip" title="cursos"
                                  href="{{ url_for('courses.courses') }}">Cursos</a>
            </li>
            <li class="active"><a data-toggle="tooltip" title="nuevo"
                                  href="{{ url_for('pages.home') }}">Añadir alumnos</a>
            </li>
            <li class="active"><a data-toggle="tooltip" title="nuevo"
                                  href="{{ url_for('pages.home') }}">Nuevo tipo de calificación</a>
            </li>
            <li class="active"><a data-toggle="tooltip" title="about"
                                  href="{{ url_for('pages.about') }}">Lista de calificaciones</a>
            </li>
        </ul>
    </div>
    </div>
</nav>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>NIA</th>
        <th>Correo</th>
        <th>Correo padres/tutores</th>
        <th>Telefono 1</th>
        <th>Telefono 2</th>
      </tr>
    </thead>
    <tbody>
  {% for student in students %}
    <tr>
      <td> {{student['name']}} </a> </td>
      <td> {{student['surname']}} </td>
      <td> {{student['NIA']}} </td>
      <td> {{student['email']}} </td>
      <td> {{student['tutor_email']}} </td>
      <td> {{student['telephone1']}} </td>
      <td> {{student['telephone2']}} </td>
    </tr>
  {% endfor %}
    </tbody>
</table>
{% endblock content %}