{% extends 'groups/base_groups.html' %}
{% block header %}
<h1>Grupo: {{ name }}</h1>
{% endblock header %}

{% block content %}

<table class="table table-striped" id="group_table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>NIA</th>
        <th>Correo</th>
        <th>Correo padres/tutores</th>
        <th>Telefono 1</th>
        <th>Telefono 2</th>
      </tr>
    </thead>
    <tbody>
  {% for student in students %}
    <tr>
      <td> {{student['name']}}  </td>
      <td> {{student['surname']}} </td>
      <td> {{student['NIA']}} </td>
      <td> {{student['email']}} </td>
      <td> {{student['tutor_email']}} </td>
      <td> {{student['telephone1']}} </td>
      <td> {{student['telephone2']}} </td>
    </tr>
  {% endfor %}
    </tbody>
</table>

  <script>
   new DataTable('#group_table');
  </script>

{% endblock content %}